### Initial

In [3]:
# libraries
install.packages("rfishbase")
library(rfishbase)
install.packages("tidyverse")
library(tidyverse)

The downloaded binary packages are in
	/var/folders/17/1s12c7d93tz_93j94s44qsl40000gn/T//RtmpyE9Q4d/downloaded_packages

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# view exportables
cat(ls("package:rfishbase"), sep = "\n")

%>%
available_releases
brains
c_code
common_names
common_to_sci
country
countrysub
countrysubref
diet
diet_items
ecology
ecosystem
estimate
faoareas
fb_tables
fb_tbl
fecundity
fooditems
genetics
introductions
larvae
length_freq
length_length
length_weight
load_taxa
maturity
morphology
morphometrics
oxygen
popchar
popgrowth
poplf
popll
poplw
popqb
predators
ration
references
reproduction
sci_to_common
spawning
species
species_by_ecosystem
species_names
speed
stocks
swimming
synonyms
validate_names

In [5]:
# collect
species_data <- species(limit = 2500)
speed_data <- speed(limit = 2500)
ecology_data <- ecology(limit = 2500)
stocks_data <- stocks(limit = 2500)
species_names_data <- species_names(limit = 2500)

Joining with `by = join_by(Subfamily, GenCode, FamCode)`
Joining with `by = join_by(FamCode)`
Joining with `by = join_by(Order, Ordnum, Class, ClassNum)`
Joining with `by = join_by(Class, ClassNum)`

### Data Check & Export

In [4]:
head(species_data)

  SpecCode Genus             SpeciesRefNo Author
1 64588    Aapticheilichthys 78622        (Huber, 2007)
2 16239    Aaptosyax         10431        Rainboth, 1991
3  2347    Abactochromis     85491        (Trewavas, 1935)
4 62612    Abalistes         54835        Matsuura & Yoshino, 2004
5     9    Abalistes          9770        (Anonymous, 1798)
6 11144    Abantennarius      6773        Schultz, 1957
  FBname             PicPreferredName PicPreferredNameM PicPreferredNameF
1 NA                 Prweb_u0.jpg     NA                NA
2 Giant salmon carp  Aagry_u0.gif     NA                NA
3 NA                 Melab_u0.jpg     NA                NA
4 NA                 Abfil_u0.jpg     NA                NA
5 Starry triggerfish Abste_u4.jpg     NA                NA
6 Tailjet frogfish   Anana_u2.jpg     NA                NA
  PicPreferredNameJ FamCode ⋯ Profile PD50   Emblematic Entered DateEntered
1 NA                733     ⋯ NA      1.0000 0          303     2008-08-04
2 NA                122     ⋯ NA      1.0000 0          113     1996-01-12
3 NA                349     ⋯ NA      1.0000 0            3     1991-03-01
4 NA                445     ⋯ NA      0.6250 0           14     2006-04-19
5 Abste_u2.jpg      445     ⋯ NA      0.6250 0            2     1990-10-17
6 NA                192     ⋯ NA      0.5002 0            1     1994-06-20
  Modified DateModified        Expert DateChecked TS
1   2      2024-03-21 00:00:00  NA    <NA>        <NA>
2   2      2024-05-22 00:00:00  NA    <NA>        <NA>
3 675      2011-12-06 17:06:31  14    2010-11-09  <NA>
4  NA      2010-09-08 00:00:00  NA    <NA>        <NA>
5   2      2024-01-17 00:00:00 124    1996-03-14  <NA>
6  14      2022-04-22 00:00:00   2    1994-09-28  <NA>

In [15]:
write.csv(species_data, "../data/species_data.csv", row.names = FALSE)

In [5]:
head(speed_data)

  autoctr StockCode SpecCode SpeedRefNo Length LengthType SpeedLS
1 71      32        24        308       25     SL         6.97
2 73      39        29        308       15     SL         9.86
3 72      39        29        308       20     SL         8.04
4 74      39        29       3499       17     NA         1.30
5 75      40        30       3499       22     TL         3.50
6 76      54        44       3499       19     TL         2.40
  LengthTypeSpeed Speedms Mode      ⋯
1 SL              1.7425  burst     ⋯
2 SL              1.4790  burst     ⋯
3 SL              1.6080  burst     ⋯
4 TL              0.2300  sustained ⋯
5 TL              0.7900  sustained ⋯
6 TL              0.4700  sustained ⋯
  Comment                                     Entered DateEntered Modified
1 Lengths were transformed to SL in Ref. 308.  1      1992-01-30   1
2 Lengths were transformed to SL in Ref. 308.  1      1992-01-30   3
3 Lengths were transformed to SL in Ref. 308.  1      1992-01-30   1
4 17.7 g, fish at 23 cm/sec.                  22      1992-05-15   1
5 23.7 g, fish at 79 cm/sec.                  22      1992-05-15   1
6 19.2 cm, fish at 47 cm/sec.                 22      1992-05-15  NA
  DateModified Expert DateChecked SLa SLb  TS
1 2000-09-20   NA     <NA>        NA    NA <NA>
2 2003-03-28   NA     <NA>         0  0.91 <NA>
3 2000-09-20   NA     <NA>         0  0.91 <NA>
4 1994-09-28   NA     <NA>         0  0.91 <NA>
5 1994-09-28   NA     <NA>         0  0.89 <NA>
6 1994-09-28   NA     <NA>        NA    NA <NA>

In [16]:
write.csv(speed_data, "../data/speed_data.csv", row.names = FALSE)

In [6]:
head(ecology_data)

  autoctr SpecCode StockCode EcologyRefNo HabitatsRef Neritic SupraLittoralZone
1 77      2         1           3           87         0      0
2 78      3         3           3            3         0      0
3 79      4         4         189          189        -1      0
4 80      5         5          25           25        -1      0
5 81      7         9          26           26         0      0
6 82      9        15        9770         9770        -1      0
  Saltmarshes LittoralZone TidePools ⋯ RemarksCircadian CircadianRef
1 0           0            0         ⋯ NA               NA
2 0           0            0         ⋯ NA               NA
3 0           0            0         ⋯ NA               NA
4 0           0            0         ⋯ NA               NA
5 0           0            0         ⋯ NA               NA
6 0           0            0         ⋯ NA               NA
  CircadianAlsoRef Entered Dateentered Modified Datemodified Expert Datechecked
1 NA                4      1990-10-19   309     2011-03-24    NA    <NA>
2 NA                4      1990-10-19    97     2015-09-22   711    2001-05-10
3 NA                1      1990-10-19   309     2004-09-28    NA    <NA>
4 NA                2      1990-11-27   309     2004-09-28    NA    <NA>
5 NA                3      1990-10-19   303     2018-11-25    NA    <NA>
6 NA               34      2000-04-01  1472     2023-01-31    NA    <NA>
  TS
1 <NA>
2 <NA>
3 <NA>
4 <NA>
5 <NA>
6 <NA>

In [17]:
write.csv(ecology_data, "../data/ecology_data.csv", row.names = FALSE)

In [9]:
head(stocks_data)

  StockCode SpecCode SynOC
1 21        15       12835
2 24        16       12966
3 25        17       12424
4 26        18        9517
5 27        19       29302
6 30        20       29289
  StockDefs
1 Western Atlantic:  North Carolina, USA to Paraíba, Brazil (Ref. 57756).  The most common species of <i>Epinephelus</i> in the West Indies.
2 Western Atlantic:  Florida, USA  to southern Brazil, including the Gulf of Mexico and the Caribbean.  Eastern Atlantic:  Senegal to Congo (reported as <i>Epinephelus esonue</i>, Ref. 2739, 6809); rare in Canary Islands (Ref. 6808).  Eastern Pacific (Gulf of California to Peru) species refers to <i>Epinephelus quinquefasciatus</i>.  Discrete populations of <i>E. itajara</i> exist in the western Atlantic (Ref. 89627).
3 Western Atlantic:  North Carolina, USA to southern Brazil, including the Gulf of Mexico, Caribbean, and Bermuda; strays occur north to Massachusetts.
4 Western Atlantic:  Bermuda, Florida, Bahamas, Yucatan Peninsula and throughout the Caribbean to southern Brazil.  Not known from the Gulf of Mexico except at the Campeche Bank off the coast of Yucatan, at Tortugas and off Key West.
5 Western and Eastern Atlantic.
6 Eastern Atlantic:  northern Norway to Western Sahara including southern Iceland, Faroe Islands, Shetlands and Mediterranean.
  StockDefsGeneral Level
1 Western Atlantic species in general
2 NA               species in general
3 Western Atlantic species in general
4 Western Atlantic species in general
5 Atlantic Ocean   species in general
6 Eastern Atlantic species in general
  LocalUnique                                        IUCN_Code IUCN_Assessment
1 Western Atlantic:  N                               LC        NA
2 Western Atlantic:  Florida, USA  to southern Brazi VU        A2bcd
3 Western Atlantic:  North Carolina, USA to southern VU        A2bd
4 Western Atlantic: Be                               CR        A4bd
5 Western and Eastern Atlantic.                      NT        NA
6 Eastern Atlantic:  northern Norway to Western Saha N.E.      NA
  IUCN_DateAssessed ⋯ EggNursery FryNursery LarvalNursery Entered DateEntered
1 2016-11-22        ⋯ 0          0          0             8       1990-10-18
2 2016-11-20        ⋯ 0          0          0             8       1990-10-18
3 2016-11-20        ⋯ 0          0          0             8       1990-10-18
4 2016-11-18        ⋯ 0          0          0             8       1990-10-18
5 2011-06-06        ⋯ 0          0          0             8       1990-10-18
6 <NA>              ⋯ 0          0          0             2       1990-10-18
  Modified DateModified Expert DateChecked TS
1   21     2023-12-12   NA     <NA>        <NA>
2 2448     2023-12-12   14     2012-03-08  <NA>
3  303     2023-09-12   NA     <NA>        <NA>
4 2448     2023-09-29   NA     <NA>        <NA>
5    2     2023-10-18   NA     <NA>        <NA>
6 2762     2021-07-28   NA     <NA>        <NA>

In [18]:
write.csv(stocks_data, "../data/stocks_data.csv", row.names = FALSE)

In [10]:
head(species_names_data)

  SpecCode Species                    Genus             Subfamily
1 64588    Aapticheilichthys websteri Aapticheilichthys Procatopodinae
2 16239    Aaptosyax grypus           Aaptosyax         Cyprininae
3  2347    Abactochromis labrosus     Abactochromis     Pseudocrenilabrinae
4 50683    Acanthicus adonis          Acanthicus        Hypostominae
5 13268    Acanthicus hystrix         Acanthicus        Hypostominae
6 10354    Acanthocepola abbreviata   Acanthocepola     Cepolinae
  Family         Order              Class     SuperClass
1 Procatopodidae Cyprinodontiformes Teleostei Osteichthyes
2 Cyprinidae     Cypriniformes      Teleostei Osteichthyes
3 Cichlidae      Cichliformes       Teleostei Osteichthyes
4 Loricariidae   Siluriformes       Teleostei Osteichthyes
5 Loricariidae   Siluriformes       Teleostei Osteichthyes
6 Cepolidae      Eupercaria/misc    Teleostei Osteichthyes

In [19]:
write.csv(species_names_data, "../data/species_names_data.csv", row.names = FALSE)

### Combine

In [10]:
# make list of df
df_list <- list(species_data, speed_data, ecology_data, stocks_data, species_names_data)

In [11]:
# find the common column
Reduce(intersect, lapply(df_list, names))

[1] "SpecCode"

In [13]:
# combine on SpecCode column
combined_df <- species_data %>%
    left_join(speed_data, by = "SpecCode") %>%
    left_join(ecology_data, by = "SpecCode") %>%
    left_join(stocks_data, by = "SpecCode") %>%
    left_join(species_name_data, by = "SpecCode")

Warning message in left_join(., ecology_data, by = "SpecCode"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 415 of `x` matches multiple rows in `y`.
ℹ Row 81 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”
Warning message in left_join(., stocks_data, by = "SpecCode"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 415 of `x` matches multiple rows in `y`.
ℹ Row 234 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

ERROR: Error: object 'species_name_data' not found