In [5]:
# libraries
install.packages("rfishbase")
library(rfishbase)

The downloaded binary packages are in
	/var/folders/17/1s12c7d93tz_93j94s44qsl40000gn/T//RtmpYm3AAz/downloaded_packages

In [12]:
# view exportable
cat(ls("package:rfishbase"), sep = "\n")

%>%
available_releases
brains
c_code
common_names
common_to_sci
country
countrysub
countrysubref
diet
diet_items
ecology
ecosystem
estimate
faoareas
fb_tables
fb_tbl
fecundity
fooditems
genetics
introductions
larvae
length_freq
length_length
length_weight
load_taxa
maturity
morphology
morphometrics
oxygen
popchar
popgrowth
poplf
popll
poplw
popqb
predators
ration
references
reproduction
sci_to_common
spawning
species
species_by_ecosystem
species_names
speed
stocks
swimming
synonyms
validate_names

In [17]:
# collect
species_data <- species(limit = 2500)
speed_data <- speed(limit = 2500)
ecology_data <- ecology(limit = 2500)

In [14]:
head(species_data)

  SpecCode Genus             SpeciesRefNo Author
1 64588    Aapticheilichthys 78622        (Huber, 2007)
2 16239    Aaptosyax         10431        Rainboth, 1991
3  2347    Abactochromis     85491        (Trewavas, 1935)
4 62612    Abalistes         54835        Matsuura & Yoshino, 2004
5     9    Abalistes          9770        (Anonymous, 1798)
6 11144    Abantennarius      6773        Schultz, 1957
  FBname             PicPreferredName PicPreferredNameM PicPreferredNameF
1 NA                 Prweb_u0.jpg     NA                NA
2 Giant salmon carp  Aagry_u0.gif     NA                NA
3 NA                 Melab_u0.jpg     NA                NA
4 NA                 Abfil_u0.jpg     NA                NA
5 Starry triggerfish Abste_u4.jpg     NA                NA
6 Tailjet frogfish   Anana_u2.jpg     NA                NA
  PicPreferredNameJ FamCode ⋯ Profile PD50   Emblematic Entered DateEntered
1 NA                733     ⋯ NA      1.0000 0          303     2008-08-04
2 NA                122     ⋯ NA      1.0000 0          113     1996-01-12
3 NA                349     ⋯ NA      1.0000 0            3     1991-03-01
4 NA                445     ⋯ NA      0.6250 0           14     2006-04-19
5 Abste_u2.jpg      445     ⋯ NA      0.6250 0            2     1990-10-17
6 NA                192     ⋯ NA      0.5002 0            1     1994-06-20
  Modified DateModified        Expert DateChecked TS
1   2      2024-03-21 00:00:00  NA    <NA>        <NA>
2   2      2024-05-22 00:00:00  NA    <NA>        <NA>
3 675      2011-12-06 17:06:31  14    2010-11-09  <NA>
4  NA      2010-09-08 00:00:00  NA    <NA>        <NA>
5   2      2024-01-17 00:00:00 124    1996-03-14  <NA>
6  14      2022-04-22 00:00:00   2    1994-09-28  <NA>